{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank you for your Purchase!</h2>
                <hr>
                <p>Your order information is below, A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
				<a href="{% url 'products' %}?category=light_roast,gaming_mugs,coffee_machines" class="btn btn-black rounded-0 my-2">
					<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase">Now check out the latest deals on these items!</span>
				</a>
			</div>
        </div>
    </div>
{% endblock %}
