
<form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-custom rounded-0 decrement-qty_{{ item.item_id }} 
                    {% if item.weight %}decrement-weight_{{ item.item_id }}_{{ item.weight }}{% endif %}" 
                    data-item_id="{{ item.item_id }}" data-weight="{{ item.weight }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
                {% if item.weight %}weight_{{ item.item_id }}_{{ item.weight }}{% endif %}" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}" data-weight="{{ item.weight }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-custom rounded-0 increment-qty_{{ item.item_id }} 
                    {% if item.weight %}increment-weight_{{ item.item_id }}_{{ item.weight }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-weight="{{ item.weight }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            {% if item.product.coffee_amounts %}
                <input type="hidden" name="product_weight" value="{{ item.weight }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_weight="{{ item.weight }}"><small>Remove</small></a>