@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/* Headings */

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Lato', sans-serif;
    color: #000000;
 }

h3.mb-0 {
  padding-left: 15px!important;
}
/* Body */

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: scroll;
    overflow-y: scroll;
}

#delivery_msg {
  color: #ffffff;
}

.checkout_padding {
  padding-left: 15px!Important;
}

/* Images */

.img-fluid {
  height: 100%;
  border: none;
  width: 15%;
}

.featured-img {
width: 100%
}

/* Nav */
#fsc_nav_top { min-height: 40px;}
#fsc_nav_top * { font-size: 0.95em !important;}
#fsc_main_nav a {
    position: relative;
  }
  
  nav a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #01081B;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

#fsc_main_nav a:hover { color: #01081B;}
#fsc_main_nav .navbar .nav-icon { margin-right: 20px;}

#icons-pad {
  padding-right: 15px;
}

#contact-pad {
  padding-left: 15px;
}

/* Carousel Hero */
#fatstack-carousel-hero .carousel-indicators li {
  margin-top: -50px;
  background-color: #01081B;
}

#fatstack-carousel-hero .carousel-control-next i,
#fatstack-carousel-hero .carousel-control-prev i {
  color: #01081B !important;
  font-size: 2.8em !important;
}

.product-image {
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.carousel-image {
  height: auto;
  min-height: 200px;
  max-height: 70vh;
  width: auto;
  object-fit: scale-down;
  background: no-repeat, scroll, center scroll;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}


.container {
  max-width: 100%;
}


/* -------------------------------- Users */
.form-pad {
  margin-left: 20px;
  width: 50%;
}

.order-pad {
  width: 45%;
}


/* Mailchimp embedded form */

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 10px 10px 10px!important;
}

div#mc_embed_signup_scroll {
  background-color: #e9ecef;
}

#mc_embed_signup_scroll {
  padding-top: 5px;
  text-align: center;
}

#mce-EMAIL {
  width: 50%!important;
  margin: 0 auto!important;
  color: #000000!important;
}

#mc-embedded-subscribe {
  margin: 0 auto!important;
  text-align: left!important;
  margin-bottom: 10px!important
}

.btn-custom {
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #000000;
}

#mc_embed_signup .mc-field-group {
  width: 100%!important;
}

#mc_embed_signup h2 {
  margin: 25px 0!important;
}

/* Button classes */

.btn-custom:disabled {
  pointer-events: none;
}

.btn-custom:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #FFFFFF;
}

.btn-custom:active {
  box-shadow: none;
  transform: translateY(0);
}


/* Footer */

#fatstack_footer a { 
  color: #dcdde1;
}
#fatstack_footer a:hover { 
  color: #68bb7d;
}
#fatstack_footer ul.footer-link-list li {
  padding-top: 10px;
}
#fatstack_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#fatstack_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#fatstack_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}

.col-md-4.pt-5 {
  text-align: center;
  padding: 0px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 0px;
  padding-right: 0px;
}

.center {
  text-align:center;
  width:100%;
}

.clear.foot {
  display: flex!important;
  width: 100%!important;
  
}

#unsubscribe {
  margin: 10px 20px 20px 0px!important;
}


.form-margin {
  margin-left: 25px;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

.edit-padding {
  padding-left: 50px!important;
  text-align: center;
}

/* fixed top navbar only on medium and up */
@media (max-width: 1000px) {
  a#dropdownMenuLink {
    margin-left: 43%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
      padding-top: 116px;
  }

  body {
      height: calc(100vh - 116px);
  }

  .display-4.logo-font.text-black {
      font-size: 2rem;
  }

  .nav-link {
      padding: 0.15rem;
  }

  .nav-link i.fa-lg {
      font-size: 1rem;
  }

  .navbar-toggler {
      padding: .6rem .6rem;
      font-size: 1rem;
  }

  #delivery-banner h4 {
      font-size: .9rem;
  }

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
      padding: .375rem .375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
      padding: .375rem .375rem;
      font-size: .75rem;
  }

  .increment-qty, .decrement-qty {
      padding: .25rem .5rem !important;
  }
}




/* Media query for carousel 750px */

@media (max-width: 750px) {
  li.list-inline-item.dropdown{
    text-align: center!important;
  }
  .carousel-image {
    height: auto!important;
  }
  .carousel-indicators {
    display: none!important;
  }
  a#dropdownMenuLink {
    margin-right: 45%;
  }
  .btn-custom {
    font-weight: 200;
    line-height: 0.7;
    color: #FFFFFF;
    background-color: #000000;
  }
}
  