<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              All products
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Price</a></li>
              <li><a class="dropdown-item" href="#">Category</a></li>
              <li><a class="dropdown-item" href="#">Rating</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}">All products</a></li>
            </ul>
          </div>
        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Coffee
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Light Roast</a></li>
              <li><a class="dropdown-item" href="#">Medium Roast</a></li>
              <li><a class="dropdown-item" href="#">Medium-Dark Roast</a></li>
              <li><a class="dropdown-item" href="#">Dark Roast</a></li>
            </ul>
          </div>
        <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Coffee Mugs
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Coding Mugs</a></li>
            <li><a class="dropdown-item" href="#">Gaming Mugs</a></li>
            <li><a class="dropdown-item" href="#">Regular Mugs</a></li>
        </ul>
        </div>

        <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Coffee Makers
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="#">Coffee Machines</a></li>
              <li><a class="dropdown-item" href="#">Coffee Grinders</a></li>
            </ul>
          </div>
    </ul>
</div>