{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatibles" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon End -->
  {% endblock %}

  {% block extra_css %}
  {% endblock %}
  
  
  <!-- Font awesome -->
  {% block corejs %}
  <script src="https://kit.fontawesome.com/0d1a5e71cc.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Fat Stack Coffee{% block extra_title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="fsc_nav_top">
    <div class="container text-light">
      <div class="w-100 d-flex justify-content-between">
        <div>
          <i class="fa fa-envelope mx-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none"
            href="mailto:fatstack.info@gmail.com">fatstack.info@gmail.com</a>
          <i class="fa fa-phone mx-2"></i>
          <a class="navbar-sm-brand text-light text-decoration-none" href="tel:07700 900615">07700 900615</a>
        </div>
        <h4 id="delivery_msg">Free delivery on orders over £{{ free_delivery_threshold }}!</h4> 
        <div>
          <a class="text-light" href="https://www.facebook.com/FSCoffeeLondon" target="_blank" rel="sponsored"><i
              class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://twitter.com/" target="_blank"><i
              class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
          <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
              class="fab fa-linkedin fa-sm fa-fw"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
      <img class="img-fluid img-thumbnail"
        src="https://res.cloudinary.com/matts-cloud/image/upload/v1651747021/rsz_imageedit_3_2818077152_n8bjfp.png"
        alt="Site logo navy and light blue bear">
      <a class="navbar-brand logo h1 align-self-center" href="{% url 'store' %}">
        Fat Stack Coffee
      </a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#fsc_main_nav"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
              placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
        id="fsc_main_nav">
        <div class="flex-fill">
          <ul class="nav navbar-nav d-flex justify-content-around mx-lg-auto">
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'store' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-house"></i></div>
                  <p class="my-0">
                    Home
                  </p>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'products' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-mug-hot"></i></div>
                  <p class="my-0">
                    Products
                  </p>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'about' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-id-card-clip"></i></div>
                  <p class="my-0">
                    About
                  </p>
                </div>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="nav-link" href="{% url 'contact' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-address-book"></i></div>
                  <p class="my-0">
                    Contact
                  </p>
                </div>
              </a>
            </li>
            <li class="list-inline-item dropdown">
                  <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-labelledby="user-options" aria-expanded="false">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    User Account
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                          <li><a class="dropdown-item" href="{% url 'fsc_add_product' %}">
                            Coffee Management</a>
                          </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                      <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                    
                  </ul>
            </li>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_cart' %}">
                <div class="text-center">
                  <div><i class="fa-solid fa-basket-shopping"></i></div>
                  <p class="my-0">
                    {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
  </nav>
  <div class="row bg-white">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
      {% include 'includes/main_nav.html' %}
    </nav>
  </div>


  {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
  {% endif %}




  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $(".toast").toast('show');
    });
  </script>
  {% endblock %}

{% include 'includes/footer.html' %}
</body>
</html>