{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<!-- Overlay -->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contact us for more coffee!<i class="fa-solid fa-mug-hot"></i></h2>
            <hr>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <!-- Contact form -->
            <br>
            <div class="col-sm-7 contact-form">
                <h2 class="mb-2">Drop us message</h2>
                <div class="row">
                    <div class="col">
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field | as_crispy_field}}
                            {% endfor %}
                            <input type="submit" value="Submit" class="btn btn-custom">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Store address details -->
            <div class="col-sm-5 text-center">
                <h2 class="mb-2">Contact details</h2>
                <p><i class="fas fa-map-marker-alt"></i><br>
                    Havering<br>
                    London<br>
                    United Kingdom</p>
                <p><i class="fas fa-phone"></i><br>
                    07700 900615</p>
                <p><i class="fas fa-store"></i><br>
                <strong>Office opening hours</strong></p>
                <table class="col">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><strong>Monday:</strong></td>
                        <td></td>
                        <td>10:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td><strong>Tuesday:</strong></td>
                        <td></td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td><strong>Wednesday:</strong></td>
                        <td></td>
                        <td>8:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td><strong>Thursday:</strong></td>
                        <td></td>
                        <td>8:00 - 18:00</td>
                    </tr>
                    <tr>
                        <td><strong>Friday:</strong></td>
                        <td></td>
                        <td>10:00 - 18:00</td>
                    </tr>
                    <tr>
                        <td><strong>Saturday:</strong></td>
                        <td></td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td><strong>Sunday:</strong></td>
                        <td></td>
                        <td>Closed</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}